* {
    box-sizing: border-box;
  
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
    font-weight:700;
}
.header {
    padding: 20px 0;
}
.navigation {
    margin: 0;
    padding: 0;
}
.navigation-item {
    list-style: none;
}
.navigation-link {
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #939699;
    text-transform: uppercase;
}
.button-img {
    margin-right: 10px;
}
.button {
    padding: 10px 20px;
    background: #4592FF;
    border: none;
    border-radius: 20px;
    transition: all 0.5s ease;
}
.button-text {
    font-weight: 900;
    font-size: 14px;
    color: #fff;
}
.button:hover {
    background: #2f7ce9;
}
.slide {
    padding-top: 90px;
    padding-bottom: 110px;
}

.slide-1 {
    background: #B4D1E0 url(../img/image.png) no-repeat center right 10%;
}
.button-indent {
    margin-right: 10px;
}
.lable {
    padding: 5px 12px;
    background: #3DC47E;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
}
.slide-tittle {
    font-weight: bold;
    font-size: 55px;
    color: #262D33;
    max-width: 355px;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 15px;
}
.slide-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.7;
    color: #4B5157;
    max-width: 310px;
    margin-bottom: 30px;
}
.slider {
    position: relative ;
}
.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}
.card-tittle {
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5;
    max-width: 225px;
    color: #262D33;
    margin-bottom: 15px;
}
.card-text {
    font-weight: normal;
    font-size: 14px;
    color: #4B5157;
    line-height: 1.5;
    max-width: 175px;
    margin-bottom: 25px;
}
.card {
    background:#B4D1E0 url(../img/bg1.jpg) no-repeat top right ;
    background-size: cover;
    min-height: 370px;
    padding-top: 60px;
    padding-bottom: 90px;
    padding-left: 45px;
    padding-right: 45px;
    border: none;
    border-radius: 5px;
}
.card-buttom {
    max-width: 116px;
}
.card-2 {
    background:#B4D1E0 url(../img/bg2.jpg) no-repeat top right ;
    background-size: cover;
}
.card2-tittle {
    color: #fff;
}
.card2-text {
    color: #fff; 
}
.lable-widht {
    max-width: 79px;
    margin-bottom: 30px;
}
.card-tittle2 {
    max-width: 350px;
    font-size: 40px;
    line-height: 50px
}
.card-3 {
    padding-top: 30px;
    padding-bottom: 60px;
}
.card-buttom3 {
    max-width: 160px;
   
}
.card-text3 {
    max-width: 320px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.button-text3 {
    margin-right: 10px;
    margin-top: 20px;
}
.card-3 {
    background: #CCD5E6 url(../img/Image3.png) no-repeat center right;
    background-size: contain;
  
}
.card-4 {
    background: #FF4F52 url(../img/002.png) no-repeat center right;
    background-size: contain;
}
.card4-tittle {
    max-width: 210px;
    color: #fff;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
}
.card4-text {
    font-size: 14px;
    line-height: 20px;
    color: #FFC4C9;
    margin-bottom: 15px;
}
.text-right {
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}
.card-item {
    position: relative;
    padding-top: 30px;
    padding-bottom: 35px;
    text-align: center;
}
.lable-item {
position: absolute;
top: 18px;
left: 18px;
}
.img-card__item {
    margin-bottom: 15px;
}
.card-item__tittle {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 5px;
}
.card-item__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}
.card-item__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}